data/restaurant-info-hk/xml/20210604-0946-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DATA">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="DEPARTMENT"/>
        <xs:element type="xs:date" name="GENERATION_DATE"/>
        <xs:element type="xs:anyURI" name="LINK"/>
        <xs:element name="TYPE_CODE">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CODE" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="ID" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DIST_CODE">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CODE" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:integer" name="ID" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="INFO_CODE">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CODE" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="ID" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="LPS">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="LP" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="TYPE"/>
                    <xs:element type="xs:integer" name="DIST"/>
                    <xs:element type="xs:long" name="LICNO"/>
                    <xs:element type="xs:string" name="SS"/>
                    <xs:element type="xs:string" name="ADR"/>
                    <xs:element type="xs:string" name="INFO"/>
                    <xs:element type="xs:string" name="EXPDATE"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>